<div style="display: inline-center;">
  <ul class="nav mb-3" id="pills-tab-data" role="tablist">
    <div style="display: flex; align-items: center; border: 5px solid #ffffff00;" ><b style="color: rgb(104, 104, 104)">Data slices available:   </b></div>
    {% if train_histograms is defined: %}
    <li class="nav-item">
      <a class="btn btn-light active" id="pills-training-tab" data-toggle="pill" href="#pills-training" role="tab" aria-controls="pills-training" aria-selected="true">Training</a>
    </li>
    {% endif %}
    {% if test_histograms is defined: %}
    <li class="nav-item">
      {% if train_histograms is not defined: %}
      <a class="btn btn-light" id="pills-testing-tab" data-toggle="pill" href="#pills-testing" role="tab" aria-controls="pills-testing" aria-selected="true">Testing</a>
      {% else: %}
      <a class="btn btn-light" id="pills-testing-tab" data-toggle="pill" href="#pills-testing" role="tab" aria-controls="pills-testing" aria-selected="false">Testing</a>
      {% endif %}
    </li>
    {% endif %}
  </ul>
</div>

<div class="tab-content" id="pills-tabContent-data">

  {% if train_histograms is defined: %}
  <div class="tab-pane fade show active" id="pills-training" role="tabpanel" aria-labelledby="pills-training-tab">

    {% include 'train_data.html' %}
    
  </div>
  {% endif %}

  {% if test_histograms is defined: %}
    {% if train_histograms is not defined: %}
    <div class="tab-pane fade show active" id="pills-testing" role="tabpanel" aria-labelledby="pills-testing-tab">
    {% else: %}
    <div class="tab-pane fade" id="pills-testing" role="tabpanel" aria-labelledby="pills-testing-tab">
    {% endif %}

    {% include 'test_data.html' %}
    
    </div>
  {% endif %}

</div>