{% extends 'base_data.html' %}

{% block datahistograms %}

{% for sens_f_name, hist in test_histograms %}
    <div id="hist_test_{{ sens_f_name }}" style="display: table-cell;">
        <script>
        var graphs = {{ hist | safe}};
        
        layout = {
            barmode:'overlay',
            title: "{{ sens_f_name }}",
            width: 275,
            height: 225,
            bargroupgap: 0.1,
            margin: {
                l:50,
                r:25,
                b:60,
                t:60,
                pad:2
            },
            xaxis: {visible: true}
            };
        
        Plotly.plot('hist_test_{{ sens_f_name }}',graphs, layout, config = {'displayModeBar': false});
        </script>
    </div>
{% endfor %}

{% endblock %}


{% block pearson_corr_diagram %}
<div id="test_PearCorr_heatmap">
    <script>
        var graphs = {{test_PearCorr_heatmap | safe}};
        
        layout = {
            title: "Correlation matrix (<b>Pearson</b>)",
            width: 500,
            height: 400,
            bargroupgap: 0.3,
            margin: {
              l:100,
              r:100,
              b:50,
              t:50,
              pad:2
            },
            xaxis: {visible: false}
        };
        
        Plotly.plot('test_PearCorr_heatmap', graphs, layout, config = {'displayModeBar': false});
    </script>
</div>

{% endblock %}

{% block pearson_nonsensf_sensf %} 

    {% for sensitive_feature_index,duplas in test_PearCorr_rankings %}
        
        <div class="card">
            <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_test{{ sensitive_feature_index }}" aria-expanded="true" aria-controls="collapse_test{{ sensitive_feature_index }}">
                <b>{{ sensitive_feature_index}}</b>
            </button>
            </h5>
            </div>
        
            <div id="collapse_test{{ sensitive_feature_index }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {% for f_name, f_corr in duplas %}
                <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ f_name }}
                    <span class="badge badge-light badge-pill"> 
                    <script>document.write(parseFloat({{ f_corr }}.toFixed(4)))</script>
                    </span>
                </li>
                </ul>
                {% endfor %}
            </div>
            </div>
        </div>

    {% endfor %}

{% endblock%} 


{% block spearman_corr_diagram %}
<div id="test_SpeaCorr_heatmap">
    <script>
        var graphs = {{test_SpeaCorr_heatmap | safe}};
        
        layout = {
            title: "Correlation matrix (<b>Spearman</b>)",
            width: 500,
            height: 400,
            bargroupgap: 0.3,
            margin: {
              l:100,
              r:100,
              b:50,
              t:50,
              pad:2
            },
            xaxis: {visible: false}
        };
        
        Plotly.plot('test_SpeaCorr_heatmap', graphs, layout, config = {'displayModeBar': false});
    </script>
</div>

{% endblock %}

{% block spearman_nonsensf_sensf %} 

    {% for sensitive_feature_index,duplas in test_SpeaCorr_rankings %}
        
        <div class="card">
            <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_test{{ sensitive_feature_index }}" aria-expanded="true" aria-controls="collapse_test{{ sensitive_feature_index }}">
                <b>{{ sensitive_feature_index}}</b>
            </button>
            </h5>
            </div>
        
            <div id="collapse_test{{ sensitive_feature_index }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {% for f_name, f_corr in duplas %}
                <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ f_name }}
                    <span class="badge badge-light badge-pill"> 
                    <script>document.write(parseFloat({{ f_corr }}.toFixed(4)))</script>
                    </span>
                </li>
                </ul>
                {% endfor %}
            </div>
            </div>
        </div>

    {% endfor %}

{% endblock%} 


<!-- -->

{% block features_choice %} 

    {% for sensitive_f_name, sensitive_feature_index,graphJSON in test_visu %}
      <li class="nav-item">
        <a class="nav-link" id="pills-test-{{ sensitive_f_name }}_dataset-tab" data-toggle="pill" href="#pills-test-{{ sensitive_f_name }}_dataset" role="tab" aria-controls="pills-test-{{ sensitive_f_name }}_dataset" aria-selected="false">{{ sensitive_f_name }}</a>
      </li>
    {% endfor %}

{% endblock%} 

<!-- -->

{% block visualisation %}

{% for sensitive_f_name, sensitive_feature_index,graphJSON in test_visu %}

<div class="tab-pane fade" id="pills-test-{{ sensitive_f_name }}_dataset" role="tabpanel" aria-labelledby="pills-test-{{ sensitive_f_name }}_dataset-tab">
    
    <h6 style="text-align: center;">
        <mark style="background-color:rgb(255, 234, 228)">
            ⚠  This functionality is under development
            </mark>
        </h6>
          
        <div id="plot_test_{{ sensitive_f_name }}_data">
            <script>

                var graphs = {{graphJSON | safe}};
            
            layout = {
                title: "Data visualization<br><b>Testing data</b>"
            };
            
            Plotly.plot('plot_test_{{ sensitive_f_name }}_data', graphs, layout, config = {'displayModeBar': false});
            </script>
        </div>
        
    </div>
      
    {% endfor %}

{% endblock%} 